@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Izbriši lične podatke";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="text-danger">@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Brisanje ovih podataka će trajno obrisati vaš nalog i ne može se poništiti.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="Molimo unesite vašu lozinku." />
                <label asp-for="Input.Password">Lozinka</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Izbriši podatke i zatvori moj nalog</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
