@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill"></i>
        @Model.StatusMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Zatvori"></button>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
            
            <div class="form-floating mb-3">
                <input class="form-control" value="@Model.Username" disabled />
                <label>Email adresa</label>
            </div>
            <small class="form-text text-muted d-block mb-3">Email adresa ne može biti promijenjena. Za promjenu email adrese idite na stranicu Email.</small>

            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="+387 XX XXX XXX" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary">
                Sačuvaj
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
